<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Delivery List</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </th>
        {%for Delivery in Delivery%}
        <tr>
            <td>{{Delivery.name}}</td>
            <td>{{Delivery.date}}</td>
            <td>{{Delivery.time}}</td>
            <td>{{Delivery.address}}</td>
            <td>{{Delivery.is_deliverd}}</td>

            <td><a href="{% url 'Delivery_detail_view' id=Delivery.id%}">View Delivery</a></td>
            <td><a href="{% url 'edit_Delivery_view' id=Delivery.id %}">Edit Delivery</a> </td>
        </tr>
        {% endfor %}
    </table>


   

</body>
</html>