

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>order List</h3>
    <table>
        <th>
            <td>Order_Status</td>
            <td>Customer_information</td>
            <td>Item</td>
            <td>Amount</td>

        </th>
        {%for order in orders%}
        <tr>
            <td>{{order.Order_Status}}</td>
            <td>{{order.Customer_information}}</td>
            <td>{{order.Item}}</td>
            <td>{{order.Amount}}</td>
            <td><a href="{% url 'order_detail_view' id=order.id%}">View order</a></td>
            <td><a href="{% url 'edit_order_view' id=order.id %}">Edit order</a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>