<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Notifications List</h3>
    <table>
        <th>
            <td>userId</td>
            <td>message</td>
            <td>timestamp</td>
            
        </th>
        {%for Notifications in Notifications%}
        <tr>
            <td>{{Notifications.userId}}</td>
            <td>{{Notifications.message}}</td>
            <td>{{Notifications.timestamp}}</td>
           
            <td><a href="{% url 'Notifications_detail_view' id=Notifications.id%}">View Notifications</a></td>
            <td><a href="{% url 'edit_Notifications_view' id=Notifications.id %}">Edit Notifications</a> </td>
        </tr>
        {% endfor %}
    </table>




</body>
</html>

